h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,{
	font-family: 'Inter';
	display: block;
	clear: both;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h1,
.h1{
	font-size: 2.31em;
	font-weight: 800;
	/*@media screen and (min-width: 800px){
		font-size: 5.56em;
	}*/
}
h2,
.h2{
	font-size: 2em;
	/*@media screen and (min-width: 800px){
		font-size: 4.18em;
	}*/
}
h3,
.h3{
	font-size: 1.8em;
	/*@media screen and (min-width: 800px){
		font-size: 3.125em;
	}*/
}
h4,
.h4{
	font-size: 1.6em;
	/*@media screen and (min-width: 800px){
		font-size: 2.31em;
	}*/
}
h5,
.h5{
	font-size: 1.4em;
	/*@media screen and (min-width: 800px){
		font-size: 1.75em;
	}*/
}
h6,
.h6{
	font-size: 1.2em;
	/*@media screen and (min-width: 800px){
		font-size: 1.25em;
	}*/
}

.t-16{
	font-size: 1em;
}
.t-12{
	font-size: 0.75em;
}
